<a href="https://colab.research.google.com/github/irina-lebedeva/Python_Review/blob/main/Pandas_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
data=pd.read_csv("./AppleStore.csv")
data.head()

   Unnamed: 0         id  ... lang.num  vpp_lic
0           1  281656475  ...       10        1
1           2  281796108  ...       23        1
2           3  281940292  ...        3        1
3           4  282614216  ...        9        1
4           5  282935706  ...       45        1

[5 rows x 17 columns]

In [ ]:
num_cols = [
    'size_bytes',
    'price',
    'rating_count_tot',
    'rating_count_ver',
    'sup_devices.num',
    'ipadSc_urls.num',
    'lang.num',
    # Эта фича - не числовая, а порядковая, но мы все равно возьмем ее как числовую для удобства
    'cont_rating',
]

cat_cols = [
    'currency',
    'prime_genre'
]

target_col = 'user_rating'

In [ ]:
cols = num_cols + cat_cols + [target_col]
data['cont_rating'] = data['cont_rating'].str.slice(0, -1).astype(int)

AttributeError: ignored

In [ ]:
f=lambda x:x+1
f(5)

6

In [ ]:
var_items = [4,5,8,1,4]
var_items.sort()
var_items

[1, 4, 4, 5, 8]

In [ ]:
test='a b g y'.split(' ')
test2='g t u i'.split(' ')
test3 = zip(test, test2)
print(list(test3))

[('a', 'g'), ('b', 't'), ('g', 'u'), ('y', 'i')]

In [ ]:
a  = 'd g y i f d s'.split(' ')
b = 'g h q r t d c'.split(' ')
for idx, el in enumerate(zip(a,b)):
    print(idx, el)

0 ('d', 'g')
1 ('g', 'h')
2 ('y', 'q')
3 ('i', 'r')
4 ('f', 't')
5 ('d', 'd')
6 ('s', 'c')

In [ ]:
c=[x-1 for x in \
   range(6)]
print(c)

[-1, 0, 1, 2, 3, 4]